@inherits AdminAddressComponentBase



@if (Items == null)
{
    <em>Moment kurła...</em>
}
else
{
    <div class="container-fluid d-flex flex-column back">


        <div class="my-3 justify-content-end d-flex">
            <button type="button" class="btn btn-outline-primary @(_isButtonAddVisible ? "" : "disabled")" @onclick="@Add">Dodaj Adres</button>
        </div>

        @if (_showAdd)
        {
            <div class="contaier sticky-top bg-light">

                <div class="row">
                    <div class="col">

                        <div class=" d-flex justify-content-end mb-3">
                            <button class=" btn btn-outline-primary" type="button" @onclick="Close">X</button>
                        </div>


                        <EditForm Model="Model" OnValidSubmit="@ValidSubmit">
                            <ObjectGraphDataAnnotationsValidator/>
                            @* <DataAnnotationsValidator/> *@
                            @* <ValidationSummary/> *@



                            @* NickName <InputText>  *@
                            <div class="mb-3">
                                <InputText class="form-control " placeholder="Nazwa adresu" @bind-Value="Model.Name"/>
                                <ValidationMessage For="() => Model.Name"/>
                            </div>

                            @* NickName <InputText>  *@
                            <div class="mb-3">
                                <InputText class="form-control " placeholder="Ulica" @bind-Value="Model.Line1"/>
                                <ValidationMessage For="() => Model.Line1"/>

                            </div> @* NickName <InputText>  *@
                            <div class="mb-3">
                                <InputText class="form-control " placeholder="Ulica cd..." @bind-Value="Model.Line2"/>

                            </div> @* NickName <InputText>  *@
                            <div class="mb-3">
                                <InputText class="form-control " placeholder="Kod" @bind-Value="Model.Code"/>
                                <ValidationMessage For="() => Model.Code"/>

                            </div> @* NickName <InputText>  *@
                            <div class="mb-3">
                                <InputText class="form-control " placeholder="Miasto" @bind-Value="Model.City"/>
                                <ValidationMessage For="() => Model.City"/>

                            </div> @* NickName <InputText>  *@
                            <div class="mb-3">
                                <InputText class="form-control " placeholder="Państwo" @bind-Value="Model.Country"/>

                            </div> @* NickName <InputText>  *@
                            <div class="mb-3">
                                <InputTextArea class="form-control " placeholder="Komentarz" @bind-Value="Model.Comments"/>
                            </div>


                            @* //Buttons *@
                            <div class="my-3 d-flex justify-content-end">
                                <button class="btn btn-outline-primary " type="button" @onclick="Close">Anuluj</button>
                                <button class="btn btn-warning ml-3" type="submit">Zapisz</button>
                            </div>

                        </EditForm>

                    </div>
                </div>
            </div>
        }



        @* Table *@
        <div class="contaier">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Id</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Ulica</th>
                    <th scope="col">Ulica cd...</th>
                    <th scope="col">Kod</th>
                    <th scope="col">Miasto</th>
                    <th scope="col">Państwo</th>
                    <th scope="col">Komentarz</th>
                    <th scope="col">Akcje</th>
                </tr>
                </thead>
                <tbody>


                @foreach (var item in Items)
                {
                    <tr>
                        <th scope="row">@(Items.IndexOf(item) + 1)</th>
                        <td>@item.Id</td>

                        <td>@item.Name</td>
                        <td>@item.Line1</td>
                        <td>@item.Line2</td>
                        <td>@item.Code</td>
                        <td>@item.City</td>
                        <td>@item.Country</td>
                        <td>@item.Comments</td>

                        <td>
                            <button type="button" class="btn btn-outline-warning" @onclick="() => { Edit(item); }">Edytuj</button>
                            <button type="button" class="btn btn-outline-danger" @onclick="() => { Hide(item); }">Usuń</button>
                        </td>
                    </tr>
                }

                </tbody>
            </table>


        </div>
    </div>
}