@page "/admin/News"
@inherits NewsPageBase

@if (Items == null || AppUsers == null)
{
    <em> Ladujem siem...</em>
}
else
{
    <div class="container-fluid d-flex flex-column back">
        <h3>Newsy</h3>

        <div class="my-3 justify-content-end d-flex">
            <button class="btn btn-outline-primary @(_isButtonAddVisible ? "" : "disabled")" @onclick="@Add">Dodaj Newsa</button>
        </div>

        @if (_showAdd)
        {
            <div class="contaier sticky-top bg-light">

                <div class="row">
                    <div class="col">

                        <div class=" d-flex justify-content-end">
                            <button class=" btn btn-outline-primary" type="button" @onclick="Close">X</button>
                        </div>

                        <EditForm Model="Model" OnValidSubmit="@ValidSubmit">
                            <input type="text" class="form-control my-3" placeholder="Tytuł" @bind="Model.Title">

                            <textarea class="form-control my-3" id="exampleFormControlTextarea1" rows="3" @bind="Model.Content" placeholder="Treść newsa..."></textarea>

                            <div class="d-flex ">
                                <input type="date" class="form-control  mr-3" placeholder="Data wpisu" @bind="Model.Date">

                                <select class="form-control " @bind="Model.AppUserID">
                                    <option value="0" disabled selected>Wybierz autora...</option>
                                    @foreach (var item in AppUsers)
                                    {
                                        <option value="@item.Id">
                                            @item.NickName
                                        </option>
                                    }
                                </select>

                            </div>

                            <div class="my-3 d-flex justify-content-start">
                                @foreach (var gg in GamesGroups)
                                {
                                    @if (Model.GamesGroups.Contains(gg))
                                    {
                                        <div class="form-check mr-3 ">
                                            <input class="form-check-input ml-0" type="checkbox" id="@gg.Id"
                                                   @onchange="@((e) => GamesGroupCheckboxOnChange(gg, e))" checked>

                                            <label class="form-check-label p-1" for="@gg.Id">
                                                @gg.Name
                                            </label>
                                        </div>
                                    }

                                    else
                                    {
                                        <div class="form-check ">
                                            <input class="form-check-input ml-0" type="checkbox" id="@gg.Id"
                                                   @onchange="@((e) => GamesGroupCheckboxOnChange(gg, e))">

                                            <label class="form-check-label p-1" for="@gg.Id">
                                                @gg.Name
                                            </label>
                                        </div>
                                    }
                                }
                            </div>

                            <div class="my-3 d-flex justify-content-end">
                                <button class="btn btn-outline-primary " type="button" @onclick="Close">Anuluj</button>
                                <button class="btn btn-warning ml-3" type="submit">Zapisz</button>
                            </div>
                        </EditForm>

                        @foreach (var i in Model.GamesGroups)
                        {
                            <p>@i.Name</p>
                        }

                    </div>
                </div>
            </div>
        }



        @* Table *@
        <div class="contaier">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Id</th>
                    <th scope="col">Data wpisu</th>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Zawartość</th>
                    <th scope="col">Nick Autora</th>
                    <th scope="col">Grupa gier</th>
                    <th scope="col">Opublikowany?</th>
                    <th scope="col">Zdjęcia</th>
                    <th scope="col">Akcje</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var item in Items)
                {
                    <tr>
                        <th scope="row">@(Items.IndexOf(item) + 1)</th>
                        <td>@item.Id</td>
                        <td>@item.Date</td>
                        <td>@item.Title</td>
                        <td>@item.Content</td>
                        <td>@item.AppUser.NickName</td>
                        <td>
                            @foreach (var gamesGroup in item.GamesGroups)
                            {
                                <p>
                                    @gamesGroup.Name
                                </p>
                            }
                        </td>
                        <td>@(item.IsVisible ? "Tak" : "Nie")</td>
                        <td>@item.Images</td>
                        <td>
                            <button class="btn btn-outline-warning" @onclick="() => { Edit(item); }">Edytuj</button>
                            <button class="btn btn-outline-danger">Usuń</button>
                        </td>
                    </tr>
                }



                </tbody>
            </table>


        </div>
    </div>
}