@page "/admin/News"
@inherits NewsPageBase

@if (Items == null || AppUsers == null)
{
    <em> Ladujem siem...</em>
}
else
{
    <div class="container-fluid d-flex flex-column">
        <h3>Newsy</h3>

        <div class="my-3 justify-content-end d-flex">
            <button class="btn btn-outline-primary @(_isButtonAddVisible ? "" : "disabled")" @onclick="@Add">Dodaj Newsa</button>
        </div>

        @if (_showAdd)
        {
            <div class="contaier ">

                <div class="row">
                    <div class="col">

                        <div class=" d-flex justify-content-end">
                            <button class=" btn btn-outline-primary" type="button" @onclick="Close">X</button>
                        </div>

                        <EditForm Model="Model" OnValidSubmit="@ValidSubmit">
                            <input type="text" class="form-control my-3" placeholder="Tytuł" @bind="Model.Title">

                            <textarea class="form-control my-3" id="exampleFormControlTextarea1" rows="3" @bind="Model.Content" placeholder="Treść newsa..."></textarea>

                            <div class="d-flex ">
                                <input type="date" class="form-control  mr-3" placeholder="Data wpisu" @bind="Model.Date">

                                <select class="form-control " @bind="Model.AppUserID">
                                    <option value="0" disabled selected>Wybierza autora...</option>
                                    @foreach (var item in AppUsers)
                                    {
                                        <option value="@item.Id">
                                            @item.NickName
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="my-3 d-flex justify-content-end">
                                <button class="btn btn-outline-primary " type="button" @onclick="Close">Anuluj</button>
                                <button class="btn btn-warning ml-3" type="submit">Zapisz</button>
                            </div>
                        </EditForm>
                        @testID
                    </div>
                </div>
            </div>
        }

        <div class="contaier">

            <div class="row">
                <div class="col">
                    @foreach (var item in Items)
                    {
                        <div>@item.Content</div>
                        <div>@item.AppUser.NickName</div>
                        <div>@item.AppUser.Blood.Name</div>
                        <div>@item.AppUser.Blood.Id</div>
                        <div>@item.AppUser.BloodId</div>
                    }
                </div>

            </div>
        </div>

        <div class="contaier">

            <div class="row">
                <div class="col">
                    @foreach (var item in AppUsers)
                    {
                        <div>@item.FirstName</div>
                        <div>@item.NickName</div>
                        <div>@item.Blood.Name</div>
                        <div>@item.Blood.Id</div>
@*                     <div>@item.BloodId</div> *@
@*                     <div>@item.Rank</div> *@
@*                     <div>@item.LastName</div> *@
                    }
                </div>

            </div>
        </div>
    </div>
}