@page "/Admin/Team"
@inherits AdminTeamPageBase



@if (Items == null || Bloods == null || GamesGroups == null || Ranks == null)
{
    <em>ładujem siem...</em>
}
else
{
    <div class="container-fluid d-flex flex-column back">
    <h3>Zespół</h3>

    <div class="my-3 justify-content-end d-flex">
        <button class="btn btn-outline-primary @(_isButtonAddVisible ? "" : "disabled")" @onclick="@Add">Dodaj Użytkownika</button>
    </div>

    @if (_showAdd)
    {
        <div class="contaier sticky-top bg-light">

            <div class="row">
                <div class="col">

                    <div class=" d-flex justify-content-end mb-3">
                        <button class=" btn btn-outline-primary" type="button" @onclick="Close">X</button>
                    </div>

                    <EditForm Model="Model" OnValidSubmit="@ValidSubmit">
                        <ObjectGraphDataAnnotationsValidator/>
                        @* <DataAnnotationsValidator/> *@
                        <ValidationSummary/>

                        @* Avatar <InputFile> *@
                        <div class="form-group custom-file input-group mb-3">
                            <InputFile class="custom-file-input " id="inputGroupFile02" OnChange="OnInputFileChange"/>
                            <label class="custom-file-label" for="inputGroupFile02">Wybierz zdjęcie...</label>
                        </div>

                        @if (Model.Avatar != null)
                        {
                            <div class="d-flex mb-3">

                                <div class="mr-3">
                                    <img class="img-fluid rounded img-thumbnail" src="@Model.Avatar.Path"/>
                                    <button type="button" class="btn btn-outline-primary" style="margin-left: -50px; margin-top: -150px;"
                                            @onclick="() => DeleteImage(Model.Avatar)">
                                        X
                                    </button>
                                </div>
                            </div>
                        }

                        @* NickName <InputText>  *@
                        <div class="mb-3">
                            <InputText class="form-control " placeholder="Nick" @bind-Value="Model.NickName"/>
                            <ValidationMessage For="() => Model.NickName"/>
                        </div>

                        @* First Name <InputTextArea> *@
                        <div class="mb-3">
                            <InputText class="form-control " placeholder="Imię" @bind-Value="Model.FirstName"/>
                            <ValidationMessage For="() => Model.FirstName"/>
                        </div>

                        @* Last Name <InputTextArea> *@
                        <div class="mb-3">
                            <InputText class="form-control " placeholder="Nazwisko" @bind-Value="Model.LastName"/>
                            <ValidationMessage For="() => Model.LastName"/>
                        </div>

                        @* Blood <InputSelect>*@
                        <div class="form-group">
                            <InputSelect class="form-control mr-3" @bind-Value="Model.BloodId">
                                <option value="0" disabled>Wybierz grupę krwi...</option>
                                @foreach (var blod in Bloods)
                                {
                                    <option value="@blod.Id">@blod.Name</option>
                                }
                            </InputSelect>
                        </div>

                        @* Ranks <InputSelect>*@
                        <div class="form-group">
                            <InputSelect class="form-control mr-3" @bind-Value="Model.RankId">
                                <option value="0" disabled>Wybierz grupę krwi...</option>

                                @foreach (var rank in Ranks)
                                {
                                    <option value="@rank.Id">@rank.Name</option>
                                }
                            </InputSelect>
                        </div>


                        @* Is Published Checkbox *@
                        <div class="form-group form-check">
                            <label class="form-check-label p-1" for="@Model.Id">
                                <InputCheckbox class="form-check-input ml-0" type="checkbox" id="@Model.Id"
                                               @bind-Value="Model.IsVisible"/>
                                Opublikuj
                            </label>
                        </div>


                        @* //Games Groups checkbox *@
                        <div class="my-3 d-flex justify-content-start">



                            @foreach (var gg in GamesGroups)
                            {
                                @if (Model.GamesGroups != null && Model.GamesGroups.Contains(gg))
                                {
                                    <div class=" form-group form-check mr-3 ">
                                        <input class="form-check-input ml-0" type="checkbox" id="@gg.Id"
                                               @onchange="@((e) => GamesGroupCheckboxOnChange(gg, e))"
                                               checked>

                                        <label class="form-check-label p-1" for="@gg.Id">
                                            @gg.Name
                                        </label>
                                    </div>
                                }

                                else
                                {
                                    <div class="form-check  mr-3">
                                        <input class="form-check-input ml-0" type="checkbox" id="@gg.Id"
                                               @onchange="@((e) => GamesGroupCheckboxOnChange(gg, e))">

                                        <label class="form-check-label p-1" for="@gg.Id">
                                            @gg.Name
                                        </label>
                                    </div>
                                }
                            }

                        </div>


                        @* //Buttons *@
                        <div class="my-3 d-flex justify-content-end">
                            <button class="btn btn-outline-primary " type="button" @onclick="Close">Anuluj</button>
                            <button class="btn btn-warning ml-3" type="submit">Zapisz</button>
                        </div>
                    </EditForm>

                </div>
            </div>
        </div>
    }



    @* Table *@
    <div class="contaier">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Lp.</th>
                <th scope="col">Id</th>
                <th scope="col">Avatar</th>
                <th scope="col">Nick</th>
                <th scope="col">Imię nazwisko</th>
                <th scope="col">Grupa krwi</th>
                <th scope="col">Ranga</th>
                <th scope="col">Grupy gier</th>
                <th scope="col">Wyświetlany?</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>


            @foreach (var item in Items)
            {
                <tr>
                    <th scope="row">@(Items.IndexOf(item) + 1)</th>
                    <td>@item.Id</td>
                    <td>
                        @if (item.Avatar != null)
                        {
                            <div style="width: 75px;">
                                <img class="img-thumbnail rounded" src="@item.Avatar.Path" alt="">
                            </div>
                        }
                    </td>
                    <td>@item.NickName</td>
                    <td>@item.FullName</td>
                    <td>@item.Blood.Name</td>
                    <td>@item.Rank.Name</td>
                    <td>
                        @if (item.GamesGroups != null && item.GamesGroups.Count > 0)
                        {
                            @foreach (var gamesGroup in item.GamesGroups)
                            {
                                <p>
                                    @gamesGroup.Name
                                </p>
                            }
                        }
                        else
                        {
                            <p>-</p>
                        }
                    </td>
                    <td>@(item.IsVisible ? "Tak" : "Nie")</td>

                    <td>
                        <button class="btn btn-outline-warning" @onclick="() => { Edit(item); }">Edytuj</button>
                        <button class="btn btn-outline-danger" @onclick="() => { Hide(item); }">Usuń</button>
                    </td>
                </tr>
            }

            </tbody>
        </table>


    </div>
    </div>
}